@import "./node_modules/bulma/sass/utilities/initial-variables";


//new color palette
$color-primary-900: hsl(191.35, 62.71%, 11.57%);
$color-primary-700: hsl(191.35, 61.67%, 23.53%);
$color-primary-500: hsl(191.35, 62.01%, 35.1%);    //primary
$color-primary-300: hsl(191.39, 61.99%, 56.67%);
$color-primary-100: hsl(191.47, 61.82%, 78.43%);


$color2: hsl(186, 64.29%, 27.45%);
$color3: hsl(180, 53.7%, 42.35%);
$color4: hsl(73.14, 55.92%, 48.04%);
$color5: hsl(67.13, 65.3%, 57.06%);

//you won't get far with 5 colors. You need shades of these colors

//also set the inverted versions for a possible dark mode 

 
// 2. Set your own initial variables

$transition: all 0.2s ease-in;
$shadow: 0.18rem 0.18rem 0 0 rgba(0, 0, 0, 0.155);
$shadow-small: 0.18rem 0.18rem 0 0 rgba(0, 0, 0, 0.155);
$shadow-large: 0.40rem 0.40rem 0rem 0.05rem rgba(0, 0, 0, 0.155);

$shadow-hover: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.21);
$radius-small: 2px;

$purple: #2c698d;
$purple-invert: #fff;
$family-primary: "Montserrat", sans-serif;
$family-secondary: "Bebas Neue", sans-serif;
$family-sans-serif: "Montserrat", sans-serif; 
// 3. Set the derived variables
$primary: $color-primary-500; 
$primary-invert: #fff;


$link: $primary-invert;
$link-hover: $color-primary-700;



$title-weight: $weight-normal;
$border-hover: $color-primary-100; 


$title-family: $family-secondary;
$subtitle-family: $family-secondary;

 
$info: $color-primary-300;  
$card-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.07);
$card-header-shadow: none;
$card-color: #fff;
$card-background-color: $color-primary-700; 
$card-header-color: #fff ;
$card-footer-border-top: none;
$card-footer-color: #fff;

$footer-padding: 2.0rem 3.0rem;
$footer-color: #fff;

// 4. Import the rest of Bulma
@import "./node_modules/bulma/bulma";

