@keyframes background-movement {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

@keyframes information-reveal {
    0% {
        background-position: 100%;
        @include shadow("large");
        }

    50% {
        background-position: 100%;
       
    }

    100% {
        background-position: 0%;
        box-shadow: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% { 
        opacity: 1;
    }
}

@keyframes color-bar-reveal {
    0% {
        width: 0rem;
        right: -3rem;
       
    }

    50% {
        width: -6rem;
        box-shadow: none;
    }

    90% {
        
    }

    100% {
        box-shadow: $shadow;
    }
}

@keyframes links-reveal {
    0% {
        @include shadow("large");
        background-position: 0% 80%;
    }

    50% {
        background-position: 0% 80%;
    }

    100% {
        box-shadow: none;
        background-position: 0% 0%;
    }
}